# Traefik envs
CERTIFICATI_HTTPS=/home/gabri/progetti/certificati-https-locali/
# MySQL envs
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=base
MYSQL_USER=base
MYSQL_PASSWORD=qwerty12345
# Postgres envs
POSTGRES_PASSWORD=root12345!
POSTGRES_USER=root
POSTGRES_DB=main
# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.io
PGADMIN_DEFAULT_PASSWORD=Qwerty12345!